/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

section {
	border: 1px solid #333;
	min-height: 180px;
}

#container {
	display: grid;
	width: 89.5%;
	margin: 0 auto;
	row-gap: 8px;
}

.slider_3col {
display: grid;
gap: 10px 27px;
grid-template-columns: 15% 65.7% 15%;
	
}
.content-area {
	display:grid;
	grid-gap: 10px 27px;
	grid-template-columns: 74.5% 23.3%;
}
.footer {
	display: grid;
	grid-gap: 10px 27px;
	grid-template-columns: repeat(4, 23.4%);
	
}
.footer-four-col {
	margin: 10px;
	text-align: center;
}
/* Mindre desktopskärmar: mellan 1200px och 960px */
@media only screen and (max-width: 1200px) and (min-width: 960px)  {
	section.header {
		width: 100%;
	}
	.slider_3col {
		gap: 10px 25px;
		grid-template-columns: 23.5% 48.5% 23.5%;
	}
	.content-area {
		grid-gap: 10px 25px;
		grid-template-columns: 66% 31.8%;
	}
	.footer {
		grid-gap: 10px 10px;
		grid-template-columns: repeat(4, 24.3%);
	}
}

/* Tablets såsom Ipad: mellan 960px och 768px */
@media only screen and (max-width: 960px) and (min-width: 768px){
	section.header {
		width: auto;
	}
	.slider_3col {
		grid-column-gap: 18px;
		grid-template-columns: 31.97% 31.97% 31.97%;
	}
	.content-area {
		grid-column-gap: 18px;
		grid-template-columns: 49% 49%;
	}
	.footer {
		grid-gap: 10px;
		grid-template-columns: 49% 49%;
	}
	.footer-four-col {
		margin-right: 0px;
}

/* Mobiltelefoner: mindre än 768px */
@media only screen and (max-width:768px) {
	.slider_3col {
		
		grid-template-columns: 100%;
	}
	.content-area {
	
		grid-template-columns:100%;
	}
	.footer {
		
		grid-template-columns:100%;
	}
  }